body
{
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #222;
}

#container {
  font-size: 12px;
  background: #f9dc5b url(bkg.png) repeat-x top;
  background: #ffa;
  -moz-border-radius: 0 0 5px 0;
  border: 1px solid #888;
  border-top: none;
  border-left: none;
  padding: 0 5px 10px 5px;
  width: 265px !important;
  line-height: 1.5em;
}

a {
  font-weight: normal;
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid #FFD83C;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #D0B121;
}

td.price {
  color: #555;
}
tr:hover td.price {
  color: #000 !important;
}


table {
  border-spacing: 0;
}


#title {
  font-weight: bold;
  width: 100%;
  color: #000;
  padding: 0 0 0 35px;
  
}

.bookImg {
    background: url(chrome://bookburro/skin/logoSmall.png) top left no-repeat;
    font-size: 18px;
    margin: 12px 0 0 6px;
    display: block;
    
}

.site[busy=true] {
  background: transparent url("chrome://bookburro/skin/rotate.gif") no-repeat right;
}

#heading {
  padding-bottom: 10px;
}

#heading tr {
  padding: 0 5px;
}

#heading tr td.icon {
    width: 20px;
}

img {
  cursor: pointer;
  padding: 5px;
  margin-top: -5px;
  margin-right: -6px !important;
}

img:hover {
  background: #fd0;
}

.site td {
  text-align: right;
  min-width: 80px;
  font-weight: bold;
  padding-right: 5px;
}

tr.site.odd { 
  background-color: #fefac9; 
}

.site th {
  text-align: left;
  font-weight: bold;
  padding-left: 5px;  
}

