body
{
  font-family: Helvetica,"Lucida Grande",Arial,sans-serif
  padding: 0;
  margin: 0;
  color: #222;
  font-family: "Lucida Grande", sans-serif;
}

.site
{
  font-family: "Lucida Grande", sans-serif;
}

#container
{
  font-size: 12px;
  background: #f9dc5b url(bkg.png) repeat-x top;
  background: #ffa;
  -moz-border-radius: 0 0 5px 0;
  border: 1px solid #888;
  border-top: none;
  border-left: none;
  padding: 0;
  width: 250px !important;
  line-height: 1.5em;
}

a
{
  font-weight: normal;
  color: #222;
  text-decoration: none;
}

table
{
  border-spacing: 0;
}


#title
{
  font-weight: bold;
  width: 100%;
  color: #000;
  padding-left: 5px;
}

.site[busy=true]
{
  background: transparent url("chrome://bookburro/skin/rotate.gif") no-repeat right;
}

#heading
{
  padding-bottom: 10px;
}

#heading tr
{
  padding: 0 5px;
}

img
{
  cursor: pointer;
  padding: 4px;
  margin-right: -4px;
  margin-left: 8px;
}

img:hover
{
  background: #fd0;
}

#container tr.site:hover a
{
  text-decoration: underline;
}

.site td
{
  text-align: right;
  min-width: 80px;
  font-weight: bold;
  padding-right: 5px;
}

tr.site.odd
{ 
  background-color: #faf18b; 
}

.site th
{
  text-align: left;
  font-weight: normal;
  padding-left: 5px;  
}
